/**
 * Admin
 *
 * 01.. Vendors
 * 02.. Pages
 * 03.. Responsive
 */

/**
 * 01.. Vendors
 */
/* --- Switches --- */
.switchery {
	background-color: #ffffff;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	position: relative;
	vertical-align: middle;
	width: 40px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: content-box;
	background-clip: content-box;
}
.switchery > small {
	background: #ffffff;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	height: 20px;
	position: absolute;
	top: 0;
	width: 20px;
}

/**
 * 02.. Pages
 */
.tablenav {
	margin: 6px 0;
	padding-bottom: 5px;
}
.widefat .column-title {
	width: 60%;
}
.widefat .column-image {
	text-align: center;
}
.widefat .column-image img {
	max-width: 32px;
}
.widefat .state-Generated .column-title {
	font-weight: bold;
}

/* -- Article container (for AJAX call) -- */
.single-article-container {
	display: none;
	position: relative;
}
.single-article-scrollable {
	overflow: auto;
	height: 100%;
}
.article-actions {
	display: flex;
	padding: 13px 16px;
	align-items: center;
	background: #f3f3f3;
	position: absolute;
	right: 0;
	left: 0;
	height: 30px;
}
.article-actions.top {
	border-bottom: 1px solid #dddddd;
	top: 0;
}
.article-actions.bottom {	
	border-top: 1px solid #dddddd;
	bottom: 0;
}
.article-actions p {
	margin: 9px 12px 9px 0;
}
.article-actions .align-right {
	margin-left: auto;
	margin-right: 0;
}
.article-actions .margin-right {
	margin-right: 32px;
}
.article-content .article-body {
	padding: 80px 16px;
	line-height: 1.650;
}
.single-article-error {
	display: none;
	background: #f64747;
}
.error-response {
	color: #ffffff;
	padding: 20px;
}

/* -- Modal -- */
#TB_ajaxContent.TB_modal {
	padding: 0 !important;
	width: 802px !important;
}
#TB_ajaxContent p {
	padding: 0 !important;
}
.modal-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 44px;
	height: 57px;
	margin: 0;
	padding: 0;
	border: 1px solid transparent;
	background: none;
	color: #666;
	z-index: 1000;
	cursor: pointer;
	outline: none;
	transition: color .1s ease-in-out, background .1s ease-in-out;
}
.modal-close .modal-icon {
	background-image: none;
}
.modal-close .modal-icon:before {
	content: "\f158";
	font: normal 20px/1 dashicons;
	speak: none;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/**
 * 03.. Responsive
 */

