/**
 * Admin
 *
 * 01.. Vendors
 * 02.. Pages
 * 03.. Responsive
 */

/**
 * 01.. Vendors
 */
/* --- Switches --- */
.switchery {
	background-color: #ffffff;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	position: relative;
	vertical-align: middle;
	width: 40px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: content-box;
	background-clip: content-box;
}
.switchery > small {
	background: #ffffff;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	height: 20px;
	position: absolute;
	top: 0;
	width: 20px;
}

/* --- Noty --- */
.noty_layout_mixin, #noty_layout__top, #noty_layout__topLeft, #noty_layout__topCenter, #noty_layout__topRight, #noty_layout__bottom, #noty_layout__bottomLeft, #noty_layout__bottomCenter, #noty_layout__bottomRight, #noty_layout__center, #noty_layout__centerLeft, #noty_layout__centerRight {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}
#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}
#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}
#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}
#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}
#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}
#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}
#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}
#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}
#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px), -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
}
#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}
#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}
.noty_progressbar {
  display: none;
}
.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}
.noty_bar {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  -ms-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}
.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
  animation: noty_anim_height 75ms ease-out;
}
.noty_close_with_click {
  cursor: pointer;
}
.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: .3;
  left: 0;
  top: 0;
}
.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in .3s ease-out;
  animation: noty_modal_in .3s ease-out;
}
.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out .3s ease-out;
  animation: noty_modal_out .3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes noty_modal_in {
  100% {
    opacity: .3;
  }
}
@keyframes noty_modal_in {
  100% {
    opacity: .3;
  }
}
@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}
@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}
@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}
@-webkit-keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
    transform: translate(50%);
    opacity: 0;
  }
}
@keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
    transform: translate(50%);
    opacity: 0;
  }
}
@-webkit-keyframes noty_anim_height {
  100% {
    height: 0;
  }
}
@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

/* --- Theme: Sunset --- */
.noty_theme__sunset.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}
.noty_theme__sunset.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.noty_theme__sunset.noty_bar .noty_buttons {
  padding: 10px;
}
.noty_theme__sunset.noty_type__alert, .noty_theme__sunset.noty_type__notification {
  background-color: #073B4C;
  color: #fff;
}
.noty_theme__sunset.noty_type__alert .noty_progressbar, .noty_theme__sunset.noty_type__notification .noty_progressbar {
  background-color: #fff;
}
.noty_theme__sunset.noty_type__warning {
  background-color: rgb(248,148,6);
  color: #fff;
}
.noty_theme__sunset.noty_type__error {
  background-color: rgb(242,38,19);
  color: #fff;
}
.noty_theme__sunset.noty_type__error .noty_progressbar {
  opacity: .4;
}
.noty_theme__sunset.noty_type__info, .noty_theme__sunset.noty_type__information {
  background-color: rgb(25,181,254);
  color: #fff;
}
.noty_theme__sunset.noty_type__info .noty_progressbar, .noty_theme__sunset.noty_type__information .noty_progressbar {
  opacity: .6;
}
.noty_theme__sunset.noty_type__success {
  background-color: rgb(6,214,160);
  color: #fff;
}

/**
 * 02.. Pages
 */
.tablenav {
	margin: 6px 0;
	padding-bottom: 5px;
}
.wp-list-table {
  position: relative;
}
.widefat .column-title {
  width: 60%;
}
.widefat .column-image {
  position: relative;
  width: 72px;
	text-align: center;
}
.widefat .column-image img {
	max-width: 32px;
}
.widefat .state-Generated .column-title {
	font-weight: bold;
}
.widefat td {
  font-size: 0.875rem;
}

/* -- Article container (for AJAX call) -- */
.single-article-container {
	display: none;
	position: relative;
}
.single-article-scrollable {
	overflow: auto;
	height: 100%;
}
.article-actions {
	display: flex;
	padding: 13px 16px;
	align-items: center;
	background: #f3f3f3;
	position: absolute;
	right: 0;
	left: 0;
	height: 30px;
}
.article-actions.top {
	border-bottom: 1px solid #dddddd;
	top: 0;
}
.article-actions.bottom {	
	border-top: 1px solid #dddddd;
	bottom: 0;
}
.article-actions p {
	margin: 9px 12px 9px 0;
}
.article-actions .align-right {
	margin-left: auto;
	margin-right: 0;
}
.article-actions .margin-right {
	margin-right: 32px;
}
.article-content {
  padding: 80px 16px;
}
.article-content .article-title {
  margin-bottom: 1.5rem;
  line-height: 1.250;
}
.article-content .article-body {
  line-height: 1.650;
  font-size: 0.938rem;
}
.article-content .article-meta {
  display: flex;
  align-items: center;
}
.article-meta div {
  margin-right: 1rem;
  font-weight: 500;
  border: 1px dashed #0b0b0b;
  padding: 6px !important;
}
.article-meta div:last-child {
  margin-right: 0;
}
.single-article-error {
	display: none;
	background: #f64747;
}
.error-response {
	color: #ffffff;
	padding: 20px;
}

/* --- Spinner --- */
.kafkaiwp_loading {
  position: absolute;
  background: rgba(255,255,255,0.40);
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  left: 0;
  margin-left: -5px;
  z-index: 2000;
}
.kafkaiwp_ajax_overlay {
  position: absolute;
  background: rgba(255,255,255,0.60);
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  z-index: 1000;
}
.kafkaiwp_loading .spinner {
  margin-top: 0;
}

/* --- Modal --- */
#TB_ajaxContent.TB_modal {
	padding: 0 !important;
	width: 802px !important;
}
#TB_ajaxContent p {
	padding: 0 !important;
}
.modal-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 44px;
	height: 57px;
	margin: 0;
	padding: 0;
	border: 1px solid transparent;
	background: none;
	color: #666;
	z-index: 1000;
	cursor: pointer;
	outline: none;
	transition: color .1s ease-in-out, background .1s ease-in-out;
}
.modal-close .modal-icon {
	background-image: none;
}
.modal-close .modal-icon:before {
	content: "\f158";
	font: normal 20px/1 dashicons;
	speak: none;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/**
 * 03.. Responsive
 */

