/**
 * Admin
 *
 * 01.. Vendors
 * 02.. Pages
 * 03.. Responsive
 */

/**
 * 01.. Vendors
 */
/* --- Switches --- */
.switchery {
	background-color: #ffffff;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	position: relative;
	vertical-align: middle;
	width: 40px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: content-box;
	background-clip: content-box;
}
.switchery > small {
	background: #ffffff;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	height: 20px;
	position: absolute;
	top: 0;
	width: 20px;
}

/**
 * 02.. Pages
 */
.tablenav {
	margin: 6px 0;
	padding-bottom: 5px;
}
.widefat .column-title {
	width: 60%;
}
.widefat .column-image {
	text-align: center;
}
.widefat .column-image img {
	max-width: 32px;
}
.widefat .state-Generated .column-title {
	font-weight: bold;
}

/* -- Article container (for AJAX call) -- */
.single-article-container {
	background: #fff;
	border: 1px solid #d0d0d0;
}
.article-actions {
	display: flex;
	padding: 6px 12px;
	align-items: center;
}
.article-actions.top {
	border-bottom: 1px solid #ccd0d4;
}
.article-actions.bottom {
	border-top: 1px solid #ccd0d4;
}
.article-actions p {
	margin-right: 12px;
}
.article-actions .align-right {
	margin-left: auto;
}
.article-content {
	padding: 12px;
}

/**
 * 03.. Responsive
 */

